<h4><%= link_to "Go to all Listings", listings_path, class: "btn btn-info"  %></h4>

  <div class="intro_page">
    <h1>Welcome to PairBnB</h1>
  </div>
  <br>
  <br>

  <%= current_user.email%>
  <%= image_tag current_user.avatar.url(:thumb) %>

  
