// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-control {
  width: 350px;
}

.sign-up {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.sign-in {
    margin: auto;
    width: 50%;
    padding: 10px;
}
